* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:black;
}

.line {
    background-color: black;
    margin-left: 10%;
    margin-right:10%;
    height:2px;
}

header {
    background-color: lightgreen;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    
    padding-bottom : 5px;
}

header h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    min-height: 37px;
    margin-left: 20px;
}

header button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 45px;
    height: 45px;
    margin: 5px; 
    margin-bottom: 0;
    border-radius: 6px;
    border: 0;
    outline:none;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: lightgreen;
}

header button:hover {
    color: rgb(251, 253, 251);
    background-color: rgb(107, 182, 107);
}

header i {
    display: flex;
    justify-content: center;
    align-self: center;
}


.slideInContent {
    display: grid;
    grid-template-rows: 55px repeat(auto-fit, 2px 50px) 2px;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(81, 192, 81);
    position: absolute;
    transition: 0.2s;
}

.slideInContent i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right:12.5px;
    border-radius: 6px;
    width: 25px;
    height: 25px;
}

.slideInContent i:hover {
    background-color: white;
}

.slideInContent a{
    width:90%;
    display: flex;
    align-self: center;
    margin-left: 10%;
}

.showSlideIn {
    left: 0;
}
